<section class="container">
    <div class="row py-3">
        <div class="col-6">
            <span>รายชื่อพนังงาน</span>
        </div>
        <div class="col-6">
            <button class="btn btn-primary">ปิดการแสดงเงินเดือน</button>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                    src="https://robohash.org/innonsint.png?size=300x300&set=set1" role="img"
                    aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false" />
                <div class="card-body">
                    <h2>Carlena</h2>
                    <p class="card-text">178995726</p>
                            <button type="button" class="btn btn-sm btn-primary">แก้ไข</button>
                </div>
            </div>
        </div>
    </div>
</section>