<section class="container">
    <form action="" class="py-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="row">
                    <label class="form-label" for="employeeEmail" class="px-0 py-2"> Email address</label>
                    <input formControlName="employeeEmail" test-id="employeePassword" name="employeeEmail" type="email"
                        id="employeeEmail" placeholder="name@example.com" aria-labelledby="emailLabel"
                        class="form-control" [class.is-invalid]="loginForm.get('employeeEmail')?.invalid && loginForm.get('employeeEmail')?.touched" required>
                    <div class="invalid-feedback">
                        Please Enter Email
                    </div>
                </div>
                <div class="row">
                    <label class="form-label" for="employeePassword" class="px-0 py-2">Password</label>
                    <input formControlName="employeePassword" test-id="employeePassword" name="employeePassword"
                        type="password" id="employeePassword" aria-labelledby="peasswordLabel"
                        class="form-control" [class.is-invalid]="loginForm.get('employeePassword')?.invalid && loginForm.get('employeePassword')?.touched" required>
                    <div class="invalid-feedback">
                        Please Enter Password
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row py-3">
            <div class="col-md-4"></div>
            <div class="col-md-4 px-0">
                <button type="submit" class="btn btn-primary w-100" test-id="employeeLogin">Login</button>
            </div>
            <div class="col-md-4"></div>
        </div>
    </form>
</section>